body {
  font-family: system-ui;
  text-align: center;
}

.hero-section {
  padding-bottom: 10px;
}

.hero-section img {
  padding-bottom: 10px;
}

.hero-section a {
  display: inline-block;
  padding-top: 20px;
}

.app-description-group {
  display: inline-block;
  border-radius: 10px;
  overflow: hidden;
  padding-inline: 20px;
  margin-top: 15px;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 20px;
}

.footer a {
  color: #007aff;
  font-weight: 300;
  font-size: 13px;
  text-decoration: none;
  padding-right: 10px;
  border-right: 1px solid #aeaeb2;
  margin-right: 10px;
}

.footer a:last-child {
  border-right: none;
}

@media (orientation: portrait) {
  body {
    padding: 10px;
  }

  .hero-section img {
    width: 100%;
  }

  .hero-section a {
    width: 50%;
  }
}

@media (orientation: landscape) {
  body {
    padding-top: 50px;
    padding-bottom: 20px;
  }

  .hero-section img {
    width: 50%;
  }

  .hero-section a {
    width: 25%;
  }

  .description-section {
    padding-inline: 25%;
  }

  .footer {
    padding-top: 70px;
    padding-bottom: 50px;
  }

}

@media (prefers-color-scheme: dark) {
  .footer a {
    color: #0a84ff;
    border-right: 1px solid #636366;
  }
}
