h1,
h2,
h3,
h4,
h5 {
    color: #000000;
}

h5 {
    color: #3c3c43;
    opacity: 0.6;
}

@media (orientation: landscape) {
    body {
        background: #ffffff;
    }
    
    .index-app-group,
    .app-description-group {
        background: #f6f6f684;
    }
}

@media (orientation: portrait) {
    body {
        background: #f2f2f7;
    }
    
    .index-app-group,
    .app-description-group {
        background: #ffffff;
    }
}

@media (prefers-color-scheme: dark) {
    @media (orientation: landscape) {
        body {
            background: #000000;
        }
        
        .index-app-group,
        .app-description-group {
            background: #28282880;
        }
    }
    
    @media (orientation: portrait) {
        body {
            background: #000000;
        }
        
        .index-app-group,
        .app-description-group {
            background: #1c1c1e;
        }
    }
    
    h1,
    h2,
    h3,
    h4 {
        color: #ffffff;
    }
    
    h5 {
        color: #ebebf5;
    }
}

