body {
    font-family: system-ui;
    text-align: center;
}

.index-app-group {
    display: inline-block;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 20px;
    padding-bottom: 10px;
}

.index-app-group img {
    width: 90%;
    padding-top: 5%;
}

.index-app-group a {
    text-decoration: none;
}

h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
}

h2 {
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
}

@media (orientation: landscape) {
    body {
        padding-top: 10px;
        padding-bottom: 50px;
    }
    
    .index-app-group {
        width: 50%;
    }
}

@media (orientation: portrait) {
    body {
        padding: 10px;
    }
}
