body {
    background: #F2F2F7;
    font-family: Arial;
    text-align: center;
}


.apps-section {
    background: #FFFFFF;
    display: inline-block;
    border-radius: 16px;
    overflow: hidden;
}

h1 {
    color: #1D1D1F;
    font-weight: bold;
    font-size: 28;
    line-height: 34px;
}

h2 {
    color: #1D1D1F;
    font-weight: normal;
    font-size: 22px;
    line-height: 28px;

}

@media (orientation: portrait) {
    body {
        padding: 16px;
    }

    .apps-section {
        width: 100%;
        margin-top: 32px;
        padding-bottom: 16px;
    }

    .apps-section img {
        padding-top: 5%;
        width: 90%;
    }

}

@media (orientation: landscape) {
    body {
        padding-top: 32px;
    }

    .apps-section {
        width: 50%;
        margin-top: 32px;
        padding-bottom: 32px;
    }

    .apps-section img {
        padding-top: 5%;
        width: 90%;
    }
}
