body {
  background: #fafaff;
  font-family: -apple-system, Arial;
  text-align: center;
}

.apps-section {
  background: #ffffff;
  display: inline-block;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 20px;
  padding-bottom: 10px;
}

.apps-section img {
  width: 90%;
  padding-top: 5%;
}

.apps-section a {
  text-decoration: none;
}

h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
}

h2 {
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  color: #000000;
}

@media (orientation: portrait) {
  body {
    padding: 10px;
  }
}

@media (orientation: landscape) {
  body {
    padding-top: 10px;
    padding-bottom: 50px;
  }

  .apps-section {
    width: 50%;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background: #000000;
  }

  .apps-section {
    background: #fafafa;
    opacity: 0.2;
  }

  h1,
  h2 {
    color: #ffffff;
  }
}
