body {
  text-align: start;
}

.header {
  padding-inline: 20px;
}

.privacy-section-group {
  display: inline-block;
  border-radius: 10px;
  overflow: hidden;
  padding-inline: 20px;
  margin-top: 20px;
}

a {
  text-decoration: none;
}

@media (orientation: landscape) {
  body {
    padding-inline: 25%;
  }
}
