body {
    font-family: -apple-system, Arial;
    text-align: start;
}

h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 34;
    line-height: 41px;
}

h2 {
    font-style: normal;
    font-weight: 600;
    font-size: 28;
    line-height: 34px;
    padding-top: 32px;
}

h4 {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    color: #8E8E93;
}

p {
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 1.5;
}

a {
    color: #2A64C5;
    text-decoration: none;
}

@media (orientation: portrait) {
    body {
        padding: 16px;
        padding-bottom: 32px;
    }
}

@media (orientation: landscape) {
    body {
        padding-inline: 15%;
        padding-top: 16px;
        padding-bottom: 32px;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background: #000000;
    }
    
    h1, h2, p {
            color: #FFFFFF;
    }
}
