body {
  font-family: -apple-system, Arial;
  text-align: start;
  padding-bottom: 8px;
}

h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 34;
  line-height: 41px;
}

h2 {
  font-style: normal;
  font-weight: 600;
  font-size: 28;
  line-height: 34px;
}

h5 {
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 22px;
  color: #3C3C43;
  opacity: 0.6;
}

p {
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 1.5;
  padding-bottom: 24px;
}

a {
  color: #007aff;
  text-decoration: none;
}

@media (orientation: portrait) {
  body {
    padding: 16px;
  }
}

@media (orientation: landscape) {
  body {
    padding-inline: 15%;
    padding-top: 16px;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background: #000000;
  }

  h1,
  h2,
  p {
    color: #ffffff;
  }
  
  a {
    color: #0a84ff;
  }
}
