body {
    font-family: Arial;
    text-align: center;
}

h1 {
    color: #1D1D1F;
    font-weight: bold;
    font-size: 28;
    line-height: 34px;
}

h2 {
    color: #1D1D1F;
    font-weight: normal;
    font-size: 22;
    line-height: 28px;
}

h3 {
    color: #1D1D1F;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
}

p {
    color: #1D1D1F;
    font-weight: normal;
    font-size: 17px;
    line-height: 22px;
    text-align: start;
}

.description-section {
    padding-top: 64px;
}

.hero-section a {
    display: inline-block;
    padding-top: 64px;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer a {
    color: #2A64C5;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    text-decoration: none;
}

@media (orientation: portrait) {
    body {
        padding: 16px;
    }
    
    .hero-section img {
        width: 100%;
    }
    
    .hero-section a {
        width: 50%;
    }
    
    .footer {
        padding-top: 16px;
        padding-bottom: 16px;
    }
}

@media (orientation: landscape) {
    body {
        padding-top: 16px;
        padding-bottom: 32px;
    }
    
    .hero-section img {
        width: 50%;
    }
    
    .hero-section a {
        width: 20%;
    }
    
    .description-section {
        padding-inline: 15%;
    }
    
    .footer {
        padding-top: 64px;
        padding-inline: 15%;
    }
}
