body {
    background: #FFFFFF;
    color: #FFFFFF;
    font-family: Helvetica, Arial;
    text-align: center;
}

.hero-section {
    padding: 25px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.hero-section img {
    padding-bottom: 25px;
}

.hero-section h1 {
    color: #1D1D1F;
    font-size: 34px;
    line-height: 41px;
    font-weight: bold;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.hero-section h2 {
    color: #1D1D1F;
    font-size: 22px;
    line-height: 28px;
    font-weight: normal;
    text-align: center;
}

.app-store-badge {
    text-align: center;
    margin-bottom: 50px;
}

.app-store-badge a {
    display: inline-block;
}

.index-section {
    padding: 25px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.index-section img {
    padding-top: 25px;
    padding-bottom: 25px;
}

.index-section h1 {
    color: #1D1D1F;
    font-size: 34px;
    line-height: 41px;
    font-weight: bold;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.index-section p {
    color: #1D1D1F;
    font-size: 17px;
    line-height: 22px;
    font-weight: normal;
    text-align: center;
}

h1 {
    
}

h2 {
    
}

.footer {
    padding-bottom: 50px;
}

.footer a {
    color: #2A64C5;
    font-size: 13px;
    line-height: 18px;
    font-weight: normal;
    text-decoration: none;
    display: inline-block;
    width: 150px;
}

@media (orientation: portrait) {
    .hero-section img {
        width: 100%;
    }
    .index-section img {
        width: 100%;
    }
}
@media (orientation: landscape) {
    .hero-section img {
        width: 50%;
    }
    .index-section img {
        width: 50%;
    }
}
