* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #ffffff;
    color: #2b2b2b;
    font-family: Helvetica, Arial;
    text-align: center;
}

.wrapper {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    padding: 40px;
    text-align: left;
}

.hero-section {
    max-width: 800px;
    padding: 40px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.hero-section img {
    max-width: 100%;
    padding-bottom: 30px;
}

.hero-section .hero-logo {
    max-width: 350px;
}

.hero-section p {
    color: #2b2b2b;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    text-align: center;
}

.hero-section h1 {
    color: #2b2b2b;
    font-size: 66px;
    text-align: center;
    margin-top: 16px;
    margin-bottom: -16px;
}

.hero-section h2 {
    color: #9f9f9f;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}

.app-store-buttons {
    text-align: center;
    padding-right: 24px;
    margin-bottom: 60px;
}

.app-store-buttons a {
    display: inline-block;
    width: 150px;
}

.app-store-buttons p {
    padding-bottom: 8px;
}

.index-section {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    padding: 40px;
    text-align: center;
}

.index-section img {
    max-width: 100%;
    margin-bottom: 40px;
}

.index-section h1 {
    color: #2b2b2b;
    font-size: 34px;
    line-height: 38px;
    text-align: center;
}

.index-section p {
    color: #9f9f9f;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
}

.index-section a {
    color: #FF4F73;
    font-weight: bold;
    text-decoration: none;
}

.index-section-dark-container {
    height: 100%;
    background-color: #000000;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.index-section-dark {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    padding: 40px;
    text-align: center;
}

.index-section-dark img {
    max-width: 100%;
    margin-top: 40px;
    margin-bottom: 20px;
}

.index-section-dark h1 {
    color: #ebebeb;
    font-size: 34px;
    line-height: 38px;
    text-align: center;
}

.index-section-dark p {
    color: #777;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
}

header {
    background-color: #fff;
}

header .wrapper {
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
}

header .wrapper img {
    max-height: 100%;
    max-width: 40%;
}

nav {
    margin-top: 20px;
}

nav li {
    display: inline-block;
    margin: 0 7px;
    line-height: 1.5em;
}

nav li a.selected {
    text-decoration: underline;
}

h1 {
    margin-bottom: 20px;
    font-size: 2em;
}

h2 {
    margin: 20px 0;
}

h4 {
    margin: 20px 0;
}

p {
    color: #1D1D1F;
    margin-bottom: 10px;
}

p a {
    color: #FD355D;
}

a {
    color: inherit;
}

ul {
    padding-top: 14px;
    padding-bottom: 14px;
}

li {
    margin-bottom: 12px;
}

.description {
    margin-bottom: 40px;
}

.content {
    margin-bottom: 40px;
}

.footer {
    padding-bottom: 50px;
}

.footer a {
    color: #bbb;
    display: inline-block;
    width: 150px;
}

/*@media(max-width: 600px) {*/
@media screen and (max-width: 600px) {
    .wrapper {
        padding: 40px 20px;
    }

    header .wrapper img {
        max-width: 80%;
    }

    .hero-section h1 {
        font-size: 46px;
    }

    .hero-section h2 {
        color: #9f9f9f;
        font-size: 18px;
        font-weight: 400;
    }

    .index-section {
        padding: 40px 20px;
    }

    .index-section img {
        max-width: 100%;
    }

    .index-section-dark img {
        max-width: 100%;
    }
}
