body {
    font-family: Arial;
    text-align: start;
    padding: 5%;
}

h1 {
    color: #1D1D1F;
    font-weight: bold;
    font-size: 34px;
    line-height: 41px;
}

h2 {
    color: #1D1D1F;
    font-weight: bold;
    font-size: 22px;
    line-height: 28px;
}

h3 {
    color: #6E6E73;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
}

p {
    color: #1D1D1F;
    font-weight: normal;
    font-size: 17px;
    line-height: 22px;
}

a {
    color: #2A64C5;
    text-decoration: none;
}

@media (orientation: portrait) {
    body {
        background: #FFFFFF;
        color: #FFFFFF;
        font-family: Arial;
        text-align: start;
        padding-top: 5%;
        padding-bottom: 5%;
    }
}

@media (orientation: landscape) {
    body {
        padding-inline: 15%;
    }
}
