body {
    font-family: Arial;
    text-align: start;
}

h1 {
    color: #1D1D1F;
    font-weight: bold;
    font-size: 28;
    line-height: 34px;
}

h2 {
    color: #1D1D1F;
    font-weight: normal;
    font-size: 22;
    line-height: 28px;
}

h3 {
    color: #6e6e73;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
}

p {
    color: #1D1D1F;
    font-weight: normal;
    font-size: 17px;
    line-height: 22px;
}

a {
    color: #2A64C5;
    text-decoration: none;
}

@media (orientation: portrait) {
    body {
        padding: 16px;
        padding-bottom: 32px;
    }
}

@media (orientation: landscape) {
    body {
        padding-inline: 15%;
        padding-top: 16px;
        padding-bottom: 64px;
    }
}
