.book-covers-section {
  overflow-x: auto;
  white-space: nowrap;
  padding-top: 50px;
}

.book-covers-section img {
  height: 200px;
  width: auto;
}

@media (orientation: landscape) {
  .book-covers-section {
    display: flex;
    justify-content: center;
  }
}
