body {
  text-align: center;
}

.hero-section {
  padding-bottom: 10px;
}

.hero-section img {
  padding-bottom: 10px;
}

.hero-section a {
  display: inline-block;
  padding-top: 20px;
}

@media (orientation: portrait) {
  .hero-section img {
    width: 50%;
  }

  .hero-section a {
    width: 100%;
  }
}

@media (orientation: landscape) {
  body {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .hero-section img {
    width: 25%;
  }

  .hero-section a {
    width: 50%;
  }

  .description-section {
    padding-inline: 25%;
  }
}
